# AZURE STORAGE CONFIG
AZURE_STORAGE_CONNECTION_STRING="YOUR_CONNECTION_STRING"

# AZURE OPENAI CONFIG
AZURE_OPENAI_API_KEY="YOUR_API_KEY"
AZURE_OPENAI_ENDPOINT="YOUR_ENDPOINT"
AZURE_OPENAI_VERSION="YOUR_VERSION"
AZURE_OPENAI_CHAT_DEPLOYMENT="YOUR_CHAT_DEPLOYMENT_MODEL"

# EMBEDDING MODEL CONFIG
AZURE_OPENAI_EMBEDDING_DEPLOYMENT="YOUR_EMBEDDING_DEPLOYMENT_MODEL"

# AZURE AI-SEARCH KNOWLEDGE BASE CONFIG
AZURE_SEARCH_ENDPOINT="YOUR_ENDPOINT"
AZURE_SEARCH_INDEX_NAME="YOUR_INDEX_NAME"
AZURE_SEARCH_API_KEY="YOUR_API_KEY"

# AZURE VIDEO INDEXER CONFIG
AZURE_VIDEO_INDEXER_NAME="YOUR_NAME"
AZURE_VIDEO_INDEXER_LOCATION="YOUR_LOCATION"
AZURE_VIDEO_INDEXER_ACCOUNT_ID="YOUR_ACCOUNT_ID"
AZURE_VIDEO_INDEXER_SUBSCRIPTION_KEY="YOUR_SUBSCRIPTION_KEY"
AZURE_VIDEO_INDEXER_ENDPOINT="YOUR_ENDPOINT"
AZURE_VIDEO_INDEXER_KEY="YOUR_KEY"

# AZURE MONITORING - OBSERVABILITY
APPLICATIONINSIGHTS_CONNECTION_STRING="YOUR_CONNECTION_STRING"

# LANGSMITH TRACING
LANGSMITH_TRACING_V2=true
LANGSMITH_ENDPOINT="YOUR_ENDPOINT"
LANGSMITH_API_KEY="<your-langsmith-api-key>"
LANGSMITH_PROJECT="YOUR_PROJECT"